.home-container {
    @extend .primary-container;

    .home-wrapper {
        grid-area: main;
        display: grid;
        grid-template-columns: 3fr 2fr;

        @media screen and (max-width: 1200px) {
            @include flex(flex-start, center, column)
        }
        
        .left-container {
            padding: 4rem 0;
            .top-bar-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;

                .search-container {
                    background-color: #C5C5C5;
                    @include flex(flex-start, center, row);
                    gap: 0.5rem;
                    padding: 0.5rem;
                    border-radius: 10px;

                    input {
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                }
            }

            .title {
                @include font-heading(2, 550, black, 2)
            }

            .cities-wrapper {
                @include flex(flex-start, center, row);
                gap: 1rem;
                flex-wrap: wrap;

                .cities-card {
                    @include flex(center, center, column);
                    cursor: pointer;

                    img {
                        @include dimensions(13rem, 10rem);
                        border-radius: 5px;
                    }
                }
            }
        }

        .right-container {
            padding: 4rem 2rem;
            width: 100%;

            .top-bar-container {
                @include flex(space-between, center, row);

                .notification-wrapper {
                    @include flex(flex-start, center, row);
                    gap: 0.5rem;

                    .notification-number {
                        @include square(1rem);
                        background-color: red;
                        @include flex(center, center, row);
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}